{% extends site.template~'/base.html.twig' %}

{% block title %}{{ page.page.metaTitle|default }}{% endblock %}
{% block metaDescription %}{{ page.page.metaDescription|default }}{% endblock %}
{% block metaKeywords %}{{ page.page.metaKeywords|default }}{% endblock %}
{% block metaAuthor %}{{ page.page.metaAuthor|default }}{% endblock %}

{% block body %}

    <!-- header -->
    {% include site.template~'/header.html.twig' %}

    <!-- breadcrumbs -->
    <div class="container styling-breadcrumbs bg-white pb-3">
        {% include site.template~'/breadcrumbs.html.twig' %}
    </div>
    <!-- list-04 -->
    <h3>list-04</h3>
    <!-- footer -->
    {% include site.template~'/footer.html.twig' %}

{% endblock %}
