{% extends site.template~'/base.html.twig' %}

{% block title %}{{ page.page.metaTitle|default }}{% endblock %}
{% block metaDescription %}{{ page.page.metaDescription|default }}{% endblock %}
{% block metaKeywords %}{{ page.page.metaKeywords|default }}{% endblock %}
{% block metaAuthor %}{{ page.page.metaAuthor|default }}{% endblock %}

{% block body %}

    <!-- header -->
    {% include site.template~'/header.html.twig' %}

    <!-- list-04 -->
    <div class="container-fluid styling-container p-0">
        <div class="container styling-breadcrumbs bg-white pt-3">
            {% include site.template~'/breadcrumbs.html.twig' %}
        </div>
        <div class="container styling-content bg-white py-3">
            <main id="content">
                <div class="row">
                    <div class="col">
                        <!-- list-04 -->
                        <h1>list-04</h1>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <!-- footer -->
    {% include site.template~'/footer.html.twig' %}

{% endblock %}
