<div>
    <div class="row">
        {% for item in banner.items %}
            <div class="col-12 col-md-4">
                <h3 class="h4">{{ item.title }}</h3>
                <p class="mb-md-0">{{ item.description|raw }}</p>
            </div>
        {% endfor %}
    </div>
</div>
