<!-- Features -->
<div class="container">
    <div class="row justify-content-lg-between align-items-lg-center py-4 py-lg-5">
        <div class="col-lg-5 mb-4 mb-lg-0">
            <h2>{{ banner.title }}</h2>
            <hr class="sep border-primary ml-0 mb-3 text-left" role="presentation">
            {{ banner.description|raw }}
        </div>
        <div class="col-lg-6">
            <img src="{{ banner.images|first }}" class="img-fluid img-thumbnail" alt="{{ banner.title }}">
        </div>
    </div>
</div>
