<div class="container body-container pt-3" id="form_search_results_2">
    <div class="row">
        <div class="col-12 col-md-3 mb-3">
            {% include site.template~'/account/menu.html.twig' %}
        </div>
        <div class="col-12 col-md-9 mb-3">
            <h1>{{ 'Jouw account'|trans }}</h1>
        </div>
    </div>
</div>
<div class="" id="form_search_results_1"></div>
