<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-light mb-0">
        <li class="breadcrumb-item">
            <a href="/">
                <span class="fa fa-home" aria-hidden="false"></span>
            </a>
        </li>
        {% for breadCrumb in page.breadCrumbs %}
            {% if breadCrumb.slug is not defined %}
                <li class="breadcrumb-item{% if loop.last %} active{% endif %}">{{ breadCrumb.title|raw }}</li>
            {% else %}
                <li class="breadcrumb-item{% if loop.last %} active{% endif %}" {% if loop.last %} aria-current="page"{% endif %}>
                    {% if loop.last %}
                        {{ breadCrumb.title|raw }}
                    {% else %}
                        <a href="{{ breadCrumb.slug }}">{{ breadCrumb.title|raw }}</a>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ol>
</nav>
