{% extends site.template~'/base.html.twig' %}

{% block title %}{{ 'Success'|trans }}{% endblock %}

{% block body %}

    <!-- header -->
    {% include site.template~'/header.html.twig' %}

    <!-- body -->
    <div class="container body-container">
        <div class="row">
            <div class="col-12 col-md-3 mb-3">
                {% include site.template~'/account/menu.html.twig' %}
            </div>
            <div class="col-12 col-md-9 mb-3">
                <h1>{{ 'Success'|trans }}</h1>
                <p>{{ 'Uw gegevens zijn gewijzigd'|trans }}</p>
            </div>
        </div>
    </div>

    <!-- footer -->
    {% include site.template~'/footer.html.twig' %}

{% endblock %}
